@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,900&family=Nunito+Sans:opsz,wght@6..12,300&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Mochiy Pop P One', sans-serif;
    transition: 0.4s ease; 
}

:root{
    --background-color:#090d17;
    --light-color:#eedbcd;
    --main-color:#ff7500;
}

/*=== header section start ===*/
.header .top-header{
    padding: 1rem;
    background: var(--light-color);
    text-align: center;
    padding: 1rem 5.5%;
    background: var(--background-color);
}
.header .top-header span{
    color: var(--background-color);
    font-size: 1.2rem;
}

.header .bottom-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);
}
.bottom-header .navLink{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.bottom-header .navLink li a {
    color: #fff;
    font-size:  1.2rem;
    text-transform: capitalize;
}
.bottom-header .others{
    display: flex;
    align-items: center;
    gap: 1.6rem;
}
.bottom-header .others a {
    font-size: 1.3rem;
    color: #fff;
}
.bottom-header .others button{
    font-size: 1.1rem;
    background: transparent;
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
    padding: 0.5rem;
    border-radius: 5px;
}

.bottom-header .navLink li a:hover,
.bottom-header .others a:hover,
.bottom-header .others button:hover{
    color: var(--main-color);
}
/*=== hero section start ===*/
.hero .swiper{
    width: 100%;
    height: 100%;
}
.hero .swiper .slide{
    position: relative;
}
.hero .swiper .slide img.slide-img{
    width: 100%;
    height: 85vh;
}
.hero .swiper .slide .details{
    position: absolute;
    top: 6rem;
    left: 3.5rem;
}
.hero .swiper .slide .details h6{
    color: var(--main-color);
    font-size: 1.4rem;
    padding-bottom: 1rem;
}
.hero .swiper .slide .details h2{
    color: #fff;
    font-size: 2.9rem;
    padding-bottom: 1rem;
}
.hero .swiper .slide .details p{
    color: #fff;
    width: 700px;
    font-size: 1rem;
    line-height:1.9rem;
    padding-bottom: 2rem;
}
.hero .swiper{
    width: 100%;
    height: 100%;
}
.hero .swiper .slide{
    position: relative;
}
.hero .swiper .slide img.slide-img{
    width: 100%;
    height: 85vh;
}
.hero .swiper .slide .details{
    position: absolute;
    top: 6rem;
    left: 3.5rem;
}
.hero .swiper .slide .details h6{
    color: var(--main-color);
    font-size: 1.4rem;
    padding-bottom: 1rem;
}
.hero .swiper .slide .details h2{
    color: #fff;
    font-size: 2.9rem;
    padding-bottom: 1rem;
}
.hero .swiper .slide .details p{
    color: #fff;
    width: 700px;
    font-size: 1rem;
    line-height:1.9rem;
    padding-bottom: 2rem;
}
.hero .swiper .slide .details span img{
    width: 30px;
    height: 30px;
    margin-right: 1rem;
    position: relative;
}
.hero .swiper .slide .details span{
    color: #fff;
    line-height: 40px;
    font-size: 1.2rem;
    padding: 1rem;
}
.hero .swiper .slide .details .btn{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}
.hero .swiper .slide .details .btn button:hover{
    background: #fff;
    color: var(--background-color)
}

.hero .swiper .slide .details .btn button i{
    position: absolute;
    top: 0.7rem;
    font-size: 1.8rem;
    padding-left: 0.4rem;
}
#menuBtn{
    font-size: 2.6rem;
    color: #fff;
    cursor: pointer;
    display: block;
}
@media(max-width:1200px){
    .bottom-header .navLink{
        gap: 0.5rem;
    }
    .bottom-header .others{
        gap: 1rem;
    }
    .bottom-header .navLink{
        display: block;
        position: absolute;
        top: 7.8rem;
        left: 0;
        width: 100%;
        background: #090d17;
        overflow: hidden;
        z-index: 100;
        text-align: left;
        padding-left: 3.5rem;
        padding-bottom: 1rem;
        transition: 0.4s ease;
    }

    .bottom-header .navLink.active{
        display: block;
    }
    .bottom-header .navLink li{
        padding: 0.5rem 0;
    }
    #menuBtn{
        display: block;
    }

}

@media(max-with:991px){
    .hero .swiper .slide .details p{
        width: 100%;
    }
    .hero .swiper .slide .details h2{
        font-size: 2rem;
    }
    
}
@media(max-width:600px){
    .bottom-header .other a.search,
    .bottom-header .other button{
        display: none;
    }
    .hero .swiper .slide .details btn{
        flex-wrap: wrap;
    }
    .hero .swiper .slide .details span{
        display: block;
    }
    .button-header .navLink{
        padding-left: 1.5rem;
    }
}
@media(max-width:450px){
    .hero .swiper .slide img.slide-img{
        width: 100%;
        height: 100vh;
    }
}
